.gray-color{
 color: #929ba9 !important;
}

.gray-color-bg{
 background-color: #929ba9 !important;
}

.gray-color-border{
 border-color: #929ba9 !important;
}

.gray-lighter{
 color: #fbfbfb !important;
}

.gray-lighter-bg{
 background-color: #fbfbfb !important;
}

.gray-lighter-border{
 border-color: #fbfbfb !important;
}

.brand-color-secondary{
 color: #005587 !important;
}

.brand-color-secondary-bg{
 background-color: #005587 !important;
}

.brand-color-secondary-border{
 border-color: #005587 !important;
}

.gray-light{
 color: #f5f6f7 !important;
}

.gray-light-bg{
 background-color: #f5f6f7 !important;
}

.gray-light-border{
 border-color: #f5f6f7 !important;
}

.dark-color-lighter{
 color: #8f8f8f !important;
}

.dark-color-lighter-bg{
 background-color: #8f8f8f !important;
}

.dark-color-lighter-border{
 border-color: #8f8f8f !important;
}

.dark-color-light{
 color: #383428 !important;
}

.dark-color-light-bg{
 background-color: #383428 !important;
}

.dark-color-light-border{
 border-color: #383428 !important;
}

.darkar{
 color: #001928 !important;
}

.darkar-bg{
 background-color: #001928 !important;
}

.darkar-border{
 border-color: #001928 !important;
}

.dark-color{
 color: #424242 !important;
}

.dark-color-bg{
 background-color: #424242 !important;
}

.dark-color-border{
 border-color: #424242 !important;
}

.gray-darkar{
 color: #646c76 !important;
}

.gray-darkar-bg{
 background-color: #646c76 !important;
}

.gray-darkar-border{
 border-color: #646c76 !important;
}

.brand-color-primary{
 color: #0075be !important;
}

.brand-color-primary-bg{
 background-color: #0075be !important;
}

.brand-color-primary-border{
 border-color: #0075be !important;
}

.ph-6mSNh{
 color: #fff !important;
}

.ph-6mSNh-bg{
 background-color: #fff !important;
}

.ph-6mSNh-border{
 border-color: #fff !important;
}

